*{
    margin: 0;
    padding: 0;
}
body>h1{
    padding: 10px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #2f336e;
}
.container{
    margin-top: 30px;
    padding: 10px;
}
.mainbox{
    width: auto;
    height: auto;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: aliceblue;
}
@media (min-width : 426px ) {
    .mainbox{
        width: max-content;
        margin-left: 22rem;
    }
}
@media (min-width : 426px) {
    .mainbox>label>#us{
        margin-left: 50px;
    }
    .mainbox>label>#em{
        margin-left: 51px;
    }
    .mainbox>label>#ps{
        margin-left: 50px;
    }
}
.mainbox>label{
    margin-bottom: 2px;
    padding: 10px;
}
.mainbox>label>#us{
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 4px;
}
.mainbox>label>#em{
    margin-top: 2px;
    margin-left: 55px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 4px;
}
.mainbox>label>#ps{
    margin-top: 2px;
    margin-left: 19px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 4px;
}
.mainbox>button{
    margin-top: 10px;
    margin-left: 90px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    outline: none;
    border: 2px solid #2f336e;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #2f336e;
    cursor: pointer;
}
